    <div class="row">
        <div class="col-xs-2"><form method="post" action="" id="forma"
                                    class="form-group">
            <span><button class="form-control"   type="submit" form="forma" value="{{FIRSTDAY}}"
                         name="firstday">{{FIRSTDAYB}}</button></span>
                </form>
        </div>
        <div class="col-xs-2"><form method="post" action="" id="formampm"
                                    class="form-group">
            <span><button class="form-control"  id="hourFormat" type="submit"
                          form="formampm" value="{{TIMEFORMAT}}"
                          name="timeFormat">{{TIMEFORMATB}}</button></span>
        </form>
        </div>
        <div class="col-xs-4 col-xs-offset-2"><h3 class="text-center">
<span class="pull-left"> <a href="/~user2/PHP/booker/Calendar/another/{{LOWER}}"> < </a>
</span><span>
 {{CURRENT}}
            </span>
<span class="pull-right"> <a href="/~user2/PHP/booker/Calendar/another/{{HIGHER}}"> > </a>
</span></h3>
    </div>
        </div>
<table class="table table-bordered">
    <tr class="warning no-bootstrap">
    {{HEADCALENDAR}}
    </tr>
    {{CONTENT}}
</table>