<!--<div class="row">-->
    <div class="col-xs-8 col-xs-offset-2">
    <h2>%LANG_EMPLTITLE%
        <a href="/~user2/PHP/booker/Calendar/index/" class="btn btn-default pull-right">
            %LANG_BACKTOCAL%
        </a></h2>
        <div class="row">
            <div class="col-xs-12 well">
    <form action="" method="post" id="formempl">
        <p><div class="col-xs-4"><div class="row">
        <span class="warningErr">&nbsp;{{ERROR_NAME}}</span></div>
        <div class="row">
        <input type="text" name="name_employee"
                  value="{{EMPLOYEE_N}}" placeholder="%LANG_NAMEEMPLO%">
        </div></div>
        <div class="col-xs-4"><div class="row">
            <span class="warningErr">&nbsp;{{ERROR_EMAIL}}</span></div>
            <div class="row">
            <input type="text" name="email_employee"
                   value="{{EMPLOYEE_EMAIL}}"
                   placeholder="%LANG_EMAILEMPLO%"></div></div>
            <div class="col-xs-4"><div class="row">
                <span class="warningErr">&nbsp;{{ERROR_PASS}}</span></div>
                <div class="row">
            <input  type="password" name="pass_employee"
                    value="{{EMPLOYEE_PASS}}"placeholder="%LANG_PASSEMPLO%">
                </div></div>
        <br>
        <br>
        <br>
            <div class="col-xs-4 col-xs-offset-4">
            <div class="row">
                <button class="form-control" type="submit"
                        name="submit" form="formempl">%LANG_SAVEEMPLO%
                </button></div>
                <div class="row"><span class="warningForm">&nbsp;{{ERROR_STATUS}}</span>
                    <span class="successForm">{{ADD}}</span></div>
    </div>
            </p>
        </div>
    </form>
        <div class="row">
    <table class="table table-striped" id="employees">
        <tr>
            <th>#</th>
            <th>%LANG_NAMEEMPLOY%</th>
            <th>%LANG_DELEMPLOY%</th>
            <th>%LANG_EDITEMPLOY%</th>
        </tr>
        {{LISTEMPLOYEES}}
    </table></div><!--</div>-->