<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/~user2/PHP/booker/templates/js/jquery-1.11.2.min.js"></script>
    <script src="/~user2/PHP/booker/templates/js/bootstrap.min.js"></script>
    <script src="/~user2/PHP/booker/templates/js/script.js"></script>
    <script src="/~user2/PHP/booker/templates/js/ajax.js"></script>
    <script src="/~user2/PHP/booker/templates/js/function.js"></script>
    <link rel="stylesheet" href="/~user2/PHP/booker/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/~user2/PHP/booker/templates/css/style.css">
    <title>Booker</title>
</head>
<body>
<div class="container">
    <div class="row">
<div class="col-xs-12">
    <div class="row pull-right">
        <form action="" method="post">
            <span><input class="btn btn-default" type="submit" value="en"
                         name="leng"></span>
            <span><input class="btn btn-default" type="submit" value="ru" name="leng"></span>
        </form>
    </div>
    {{CONTENT}}
</div>
    </div>
</div>
</body>
</html>